---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
PointerAlignment: Right
SortIncludes: false
...
